* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  line-height: 1.4;
}

:root,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
small {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
}
