$media-tablet: 768px;
$media-desktop: 1024px;

$spaces: (
  'xs': 10px,
  's': 20px,
  'm': 30px,
  'l': 40px,
);

$box-border-radius: 8px;
$box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);