$namespace: 'akf';
$mq-tablet: 768px;
$mq-desktop: 1024px;

$space-x-small: 1rem;
$space-small: 2rem;
$space-big: 4rem;

$z-index-small: 10;
$z-index-medium: 20;

// Custom Properties definition
:root {
  --default-font: "Work Sans", sans-serif;
  --min-viewport: 320;
  --max-viewport: 1280;
  --header-height: auto;
}

* {
  --min-font-size: 16;
  --max-font-size: 20;

  --viewport-difference: calc(100vw - (var(--min-viewport) * 0.1rem));
  --font-size-difference: calc(var(--max-font-size) - var(--min-font-size));
  --font-range-difference: calc(var(--max-viewport) - var(--min-viewport));

  --font-scale: calc(
    (var(--min-font-size) * 0.1rem) + var(--font-size-difference) *
      var(--viewport-difference) / var(--font-range-difference)
  );
}