<div class="akf-case__block akf-case__block--paragraph">
  <p>
    {{title}}
  </p>
  <ul class="akf-case__list">
    {% for item in items %}
      <li>
        {{item}}
      </li>
    {% endfor %}
  </ul>
</div>