{% set mainClass = 'akf-main' %}

{% extends '../layout/default.njk' %}

{% block meta %}
  {% component 'head', meta %}
{% endblock %}

{% block body %}
  <section class="akf-container akf-intro">
    <h2 class="akf-intro__title fs-huge">
      {{intro}}
    </h2>
    <span class="akf-intro__indicator fs-small">Scroll down</span>
  </section>
  <section class="akf-works">
    {% component 'pageTitle', { name: 'Works' } %}
    {% component 'list', { items: projects } %}
  </section>
{% endblock %}
