<header class="akf-page-title akf-container akf-work-name">
  <h2 class="akf-work-name__title fs-huge">{{name}}</h2>
  {% if company %}
    <p class="akf-work-name__company fs-small">
      {{company}}{% if time %} - <time>{{year}}</time>{% endif %}
    </p>
  {% endif %}
</header>