<header class="akf-sticky-bar akf-container akf-work-name">
  <h2 class="akf-work-name__title fs-huge">Àgora Investimentos</h2>
  <p class="akf-work-name__company fs-small">R/GA - <time>2019</time></p>
</header>