<header class="akf-header akf-container">
  <nav class="akf-header__nav">
    <div class="akf-header__logo">
      <h1 class="fs-logo">
        <a href="/" class="color-black">AKF</a>
      </h1>
      <h2 class="akf-header__description fs-small">
        Frontend Developer<br />
        Amsterdam, Netherlands
      </h2>
    </div>
    <a href="/about" class="akf-header__about akf-link akf-link--underline fs-small">About</a>
  </nav>
</header>