<header class="akf-header akf-container" data-module="header/Header">
  <nav class="akf-header__nav">
    <h1 class="fs-logo">
      <a href="/" class="color-black">AKF</a>
    </h1>
    <a href="/about" class="about akf-link akf-link--underline fs-small"
      >About</a
    >
  </nav>
  <p class="description fs-small">
    Frontend Developer<br />
    Amsterdam, Netherlands
  </p>
</header>