{% component 'pageTitle', {
  name: data.name,
  company: data.company,
  year: data.year
}%}

<section class="akf-case akf-container">
  {% for item in data.content %}
    {% if item.type == "text" %}
      {% component 'text', {text: item.content} %}
    {% endif %}
    {% if item.type == "image" %}
      {% component 'image', {
        responsive: item.sizes,
        defaultImage: item.default
      } %}
    {% endif %}
    {% if item.type == "list" %}
      {% component 'details', {title: item.title, items: item.items} %}
    {% endif %}
    {% if item.type == "video" %}
      {% component 'video', {url: item.url} %}
    {% endif %}
  {% endfor %}
</section>