.#{$namespace}-image {
  padding: 5%;
  border: 1px solid $color-gray-light;

  picture {
    width: 100%;
    overflow: hidden;

    img {
      transition: filter 0.5s 300ms ease-in-out;
      display: block;
      width: 100%;
    }

    &.lazy-initial {
      img {
        filter: blur(20px);
      }
    }
  }
}